<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Resume Builder</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="template-page">
      <div class="template-page grid">
        <div class="card">
          <img src="/img/template-1.jpg" />
          <a href="#">Use Template</a>
        </div>
        <div class="card">
          <img src="/img/template-2.jpg" />
          <a href="#">Use Template</a>
        </div>
      </div>
      <a href="../index.html" class="button button-back">Back</a>
    </section>
    <script src="" async defer></script>
  </body>
</html>
